version: '3.8'
services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    container_name: postgres_db
    ports:
      - "5432:5432"
  app:
    build: ./backend/
    volumes:
      - ./backend:/app
    ports:
      - 8000:8000
    image: app:backend
    environment:
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DATABASE_URL=postgresql://postgres:postgres@postgres_db:5432/postgres
    container_name: backend_container
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
